 /*Footer CSS*/ 
 footer {
    display: grid;
    width: 100%;
   margin-top: 106px;
  }
.container {
      display: grid;
      background-color: rgba(252, 247, 240, 0.74);
      
      grid-template-areas: 
          "ll ml middle mr rr";
    } 
ul {
      display: grid;
    }
.foot1 {
      display: grid;
      grid-row: span 1;
      grid-column: span 1;
    }
.foot2 {
      display: grid;
      grid-row: span 1;
      grid-column: span 1 ;
    }
.foot3 {
      display: grid;
      grid-row: span 1;
      grid-column: span 1 ;
    }
.copy {
      grid-area: rr;
    }